[submodule "configured"]
	path = configured
	url = git@github.com:StickySource/configured.git
[submodule "stereotype"]
	path = stereotype
	url = git@github.com:StickySource/stereotype.git
[submodule "stickycode"]
	path = stickycode
	url = git@github.com:StickySource/stickycode.git
[submodule "crank"]
	path = crank
	url = git@github.com:StickySource/crank.git
[submodule "tile"]
	path = tile
	url = git@github.com:StickySource/tile.git
[submodule "parent"]
	path = parent
	url = git@github.com:StickySource/parent.git
[submodule "plugins"]
	path = plugins
	url = git@github.com:StickySource/plugins.git
[submodule "scheduled"]
	path = scheduled
	url = git@github.com:StickySource/scheduled.git
[submodule "composite"]
	path = composite
	url = git@github.com:StickySource/composite.git
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:StickySource/scheduler.git
[submodule "configuration"]
	path = configuration
	url = git@github.com:StickySource/configuration.git
[submodule "mockwire"]
	path = mockwire
	url = git@github.com:StickySource/mockwire
[submodule "ws"]
	path = ws
	url = git@github.com:StickySource/ws.git
